
<nav class=" container navbar navbar-expand-lg navbar-light bg-primary p-2 text-white mt-1">
  <a class="navbar-brand" href="#">
    <h4>Welcome to Customer Dashboard</h4>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/balance">Account Balance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/mini-statement">Mini Statement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/deposit">Deposit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/withdraw">Withdrawal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/transfer">Transfer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/landing">Logout</a>
      </li>
    </ul>
  </div>
</nav>      

